language: python

python: 3.5

services:
    - docker

cache: pip

before_install:
    - |
      if [ "$SKIP_SERVER_INSTALL" != "true" ]; then
        docker-compose up -d
      fi

jobs:
    include:
        - script: flake8
          name: "lint"
          env: SKIP_SERVER_INSTALL=true
        - script: nosetests --logging-level=ERROR
          name: "unit"
        - script: behave --format progress2 --logging-level=ERROR
          name: "behave"
        - script: cd prod_api && time pytest
          name: "prodapi-pytest"

