language: python

sudo: false

python:
    - "3.4"

services:
    - elasticsearch
    - mongodb
    - redis-server

addons:
  apt:
    sources:
    - mongodb-3.0-precise
    - elasticsearch-1.7
    packages:
    - mongodb-org-server
    - elasticsearch

cache:
  directories:
    - $HOME/.cache/pip

install:
    - pip install .
    - pip install -r requirements.txt
    - pip install nose-timer

script:
    - flake8
    - time nosetests -v --with-timer
    - time behave --format progress3 --logging-level ERROR

