language: python

sudo: required

python:
    - "3.4"
    - "3.5"

services:
    - elasticsearch
    - mongodb
    - redis-server

addons:
  apt:
    sources:
    - mongodb-3.0-precise
    - elasticsearch-1.7
    packages:
    - mongodb-org-server
    - elasticsearch

cache:
  - pip

install:
    - pip install .
    - pip install -r requirements.txt
    - pip install nose-timer

before_script: >
    df -h
    && sudo sed -i 's\enabled: true\enabled: false\' /etc/mongod.conf
    && sudo service mongod restart
    && mkdir /tmp/es-backups
    && sudo chown elasticsearch:elasticsearch /tmp/es-backups
    && echo "path.repo: ['/tmp/es-backups']" | sudo tee -a /etc/elasticsearch/elasticsearch.yml
    && echo "index.store.type: memory" | sudo tee -a /etc/elasticsearch/elasticsearch.yml
    && sudo service elasticsearch restart
    && tail -n1 /etc/elasticsearch/elasticsearch.yml
    && sleep 10
    && curl -XPUT 'http://localhost:9200/_snapshot/backups' -d '{"type": "fs", "settings": {"location": "/tmp/es-backups"}}'

script:
    - flake8
    - time nosetests
    - time behave --format progress2 --logging-clear-handlers --logcapture
