language: python

dist: trusty
sudo: required

python:
    - "3.4"
    - "3.5"

services:
    - mongodb
    - redis-server

addons:
    apt:
        sources:
            - elasticsearch-2.x
        packages:
            - elasticsearch

cache:
  - pip

before_install:
    - sudo apt-get -qq update
    - sudo apt-get purge elasticsearch
    - sudo apt-get install -t stable elasticsearch

install:
    - pip install .
    - pip install -r dev-requirements.txt

before_script: >
    sudo sed -i 's\enabled: true\enabled: false\' /etc/mongod.conf
    && sudo service mongod restart
    && sudo service elasticsearch restart

script:
    - flake8
    - nosetests --logging-level=ERROR
    - behave --format progress2 --logging-level=ERROR
