language: python

sudo: required

python:
    - "3.4"

services:
    - elasticsearch
    - mongodb
    - redis-server

addons:
  apt:
    sources:
    - mongodb-3.0-precise
    - elasticsearch-1.7
    packages:
    - mongodb-org-server
    - elasticsearch

cache:
  - pip

install:
    - pip install .
    - pip install -r requirements.txt
    - pip install nose-timer

before_script: >
    df -h
    && mkdir /tmp/es-backups
    && sudo chown elasticsearch:elasticsearch /tmp/es-backups
    && echo "path.repo: ['/tmp/es-backups']" | sudo tee -a /etc/elasticsearch/elasticsearch.yml
    && echo "index.store.type: memory" | sudo tee -a /etc/elasticsearch/elasticsearch.yml
    && tail -n10 /etc/elasticsearch/elasticsearch.yml
    && sudo service elasticsearch restart
    && curl -XPUT 'http://localhost:9200/_snapshot/backups' -d '{"type": "fs", "settings": {"location": "/tmp/es-backups"}}'

script:
    - flake8
    - time nosetests -v --with-timer --with-id apps/archive/archive_test.py
    - time behave --format progress3 --logging-level ERROR features/package_publish.feature
    #- time (nosetests -v --with-timer --with-id || nosetests -v --with-timer --with-id --failed)
    #- time behave --format progress3 --logging-level ERROR
