language: python

services:
    - docker

cache:
  - pip

install:
    - docker-compose up -d
    - pip install -r dev-requirements.txt

script:
    - flake8
    - nosetests --logging-level=ERROR
    - behave --format progress2 --logging-level=ERROR
