flake8
flake8-docstrings
flake8-bugbear
nose
nose-exclude
pep8
pyflakes
pydocstyle<4.0
httmock==1.4.0
watchdog==0.9.0
wooper==0.4.4
requests-mock
responses
pytest
pytest-env
-e git+git://github.com/superdesk/superdesk-planning.git@v1.33.3#egg=superdesk-planning
-e .
