flake8
flake8-docstrings
nose
nose-exclude
pep8
pyflakes
pydocstyle<4.0
httmock
wooper
sphinx<2.0
sphinx-autobuild
sphinxcontrib-plantuml
docutils
requests-mock
responses
pytest==5.2.2
pytest-env==0.6.2
-e git+git://github.com/superdesk/superdesk-planning.git@master#egg=superdesk-planning
-e .
