mypy
mypy-extensions
toml
types-chardet
types-click
types-croniter
types-Flask
types-Jinja2
types-MarkupSafe
types-python-dateutil
types-pytz
types-PyYAML
types-redis
types-requests<2.32.0.20241017  # https://github.com/python/typeshed/issues/10825
types-tzlocal
types-Werkzeug
types-jwt
typing-extensions
boto3-stubs[s3,sqs]
motor-types
pydantic
flask[async]
quart>=0.19.6,<0.20.0
