mypy
mypy-extensions
toml
types-chardet
types-click
types-croniter
types-Flask
types-Jinja2
types-MarkupSafe
types-python-dateutil
types-pytz
types-PyYAML
types-redis
types-requests<2.31.0.7  # https://github.com/python/typeshed/issues/10825
types-tzlocal
types-Werkzeug
types-jwt
typing-extensions
boto3-stubs[s3,sqs]
motor-types
pydantic
