eve>=0.6,<0.7
eve-elastic>=0.3.7,<0.4
elasticsearch==1.9.0
flask>=0.10
flask-mail>=0.9
flask-script>=2.0.5
pillow>=2.9,<3.0
arrow>=0.4
asyncio>=3.4
bcrypt>=1.1,<1.2
beautifulsoup4>=4.4
blinker>=1.3
celery[redis]>=3.1.18
feedparser>=5.2
hachoir3-superdesk>=3.0a1
python-magic>=0.4
python3-ldap>=0.9.8
pytz>=2015.4
raven[flask]>=5.10.0,<5.11
requests>=2.7.0
statsd>=3.1
httmock>=1.2.3
boto3>=1.1.4
websockets>=2.6
mongolock>=1.3.4
PyYAML>=3.11

git+git://github.com/actionless/werkzeug.git@fix-match-when-server_name-have-port#egg=werkzeug
