-e ../../../.

# Keep testing of instance build to Superdesk only for now
# -e git+https://github.com/superdesk/superdesk-planning.git@async#egg=superdesk_planning
# -e git+https://github.com/superdesk/sams.git@develop#egg=sams_client&subdirectory=src/clients/python/
