name: "Test"

on: [push, pull_request]

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.12']

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - run: ./scripts/tests_setup
    - run: pip install -U pip wheel setuptools
    - run: pip install -r dev-requirements.txt
    - run: ulimit -n 4096
    - run: pytest --log-level=ERROR --disable-warnings tests/core
    - run: pytest --log-level=ERROR --disable-warnings --ignore=tests/core

  pip-compile:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.10', '3.12']

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - run: pip install -U pip wheel setuptools pip-tools
    - run: pip-compile -U --resolver=backtracking setup.py

  behave:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.10', '3.12']

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - run: ./scripts/tests_setup
    - run: pip install -U pip wheel setuptools
    - run: pip install -r dev-requirements.txt

    - run: behave --tags=-sams --format progress2 --logging-level=ERROR

  behave-sams:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.10', '3.12']

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - run: ./scripts/tests_setup
    - run: ./scripts/install-start-sams

    - run: pip install -U pip wheel setuptools
    - run: pip install -r dev-requirements.txt

    - run: behave --tags=sams --format progress2 --logging-level=ERROR

  prodapi:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.10', '3.12']

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - run: ./scripts/tests_setup
    - run: pip install -U pip wheel setuptools
    - run: pip install -r dev-requirements.txt

    - run: pytest prod_api

  macos-install:

    strategy:
      fail-fast: false
      matrix:
        os: ['macos-13', 'macos-14']
        python-version: ['3.10']

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - run: pip install -U pip wheel setuptools
    - run: pip install -Ur dev-requirements.txt
